<section class="section">
  <div class="content u-height-100">
    <div>
      <p
        class="animate__animated animate__fadeInUp animate__slow background-blur"
      >
        Hello, my name is
      </p>
      <h1
        class="animate__animated animate__fadeInNonZero animate__slow text-gradient heading--primary"
      >
        Michał Sawicki
      </h1>
    </div>

    <div>
      <p
        class="animate__animated animate__fadeInUp animate__slow animate__delay-2s background-blur"
      >
        I am working as a
      </p>
      <h2
        class="animate__animated animate__fadeIn animate__delay-2s text-gradient heading--secondary"
      >
        Frontend Web Developer
      </h2>
    </div>

    <a
      href="#about"
      class="animate__animated animate__fadeIn animate__delay-4s background-blur next-section u-absolute-bottom"
    >
      Read more about me
      <div
        class="animate__animated animate__small-bounce animate__infinite animate__slow"
      >
        {% include svg/arrow-down.svg %}
      </div>
    </a>
  </div>
</section>
